@import url("https://fonts.cdnfonts.com/css/chillax");
@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://api.fontshare.com/v2/css?f[]=gambetta@300,301,400,401,500,501,600,601,700,701&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/parallax";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply rounded selection:bg-text selection:text-text-inverse;
}

body {
  /* font-family: ; */
  @apply overflow-x-hidden scroll-smooth bg-black font-sans-serif text-text;
}

::-webkit-scrollbar {
  width: 0;
}

/* General bullet style */
header .swiper-pagination-bullet {
  @apply relative h-[2px] w-full overflow-hidden rounded-lg bg-icon bg-opacity-50 opacity-100;
}

header .swiper-pagination-bullet::after {
  content: "";
  @apply absolute right-0 top-0 h-full w-0 bg-icon;
  transition-property: width;
  transition-duration: 0ms; /* No transition initially */
}

/* After swiper-ready is added, allow transitions */
header .swiper-pagination.swiper-ready .swiper-pagination-bullet::after {
  transition-duration: 1000ms;
  transition-timing-function: linear;
}

/* Animate the active bullet */
header .swiper-pagination.swiper-ready .swiper-pagination-bullet-active::after {
  @apply left-0 w-full delay-1000 duration-[6000ms];
}

/* Align the pagination bullets */
header .swiper-pagination {
  @apply flex w-full;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}
